<!DOCTYPE html>
<html lang="fa" direction="rtl" dir="rtl" style="direction: rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tipoul.Athentication.Web</title>

    <meta name="description" content="Tipoul.Athentication.Web" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="~/css/login-3.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/css/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/css/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    @await RenderSectionAsync("styles", false)
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled sidebar-enabled page-loading">

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">

        @RenderBody()

    </div>
    <!--end::Main-->

    <script src="~/js/script.js"></script>
    <script src="~/js/plugins.bundle.js"></script>
    <script src="~/js/prismjs.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/js/login-general.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
