@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    var statuses = new Dictionary<string, int>();
    statuses.Add("profile", 1);
    statuses.Add("profilepersonalinfo", 1);
    statuses.Add("profileaddress", 1);
    statuses.Add("profilebusiness", 1);
    statuses.Add("profileverify", 1);
    statuses.Add("profilelegal", 1);
    statuses.Add("bankaccount", 2);
    statuses.Add("taxcode", 3);
    statuses.Add("commertialgateway", 4);

    var currentPageIndex = statuses[httpContextAccessor.HttpContext.GetRouteValue("action").ToString().ToLower()];
}

<!--begin::ویزارد Nav-->
<div class="wizard-nav border-bottom">
    <div class="wizard-steps p-8 p-lg-10">
        <!--begin::ویزارد گام 1 Nav-->
        <a href="/wizard/profile" class="wizard-step" data-wizard-type="step" data-wizard-state="@(currentPageIndex == statuses["profile"] ? "current" : currentPageIndex > statuses["profile"] ? "done" : "pending")">
            <div class="wizard-label">
                <i class="wizard-icon flaticon-bus-stop"></i>
                <h3 class="wizard-title">1. پروفایل</h3>
            </div>
            <span class="svg-icon svg-icon-xl wizard-arrow">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </a>
        <!--end::ویزارد گام 1 Nav-->
        <!--begin::ویزارد گام 2 Nav-->
        <a href="/wizard/bankAccount" class="wizard-step" data-wizard-type="step" data-wizard-state="@(currentPageIndex == statuses["bankaccount"] ? "current" : currentPageIndex > statuses["bankaccount"] ? "done" : "pending")">
            <div class="wizard-label">
                <i class="wizard-icon flaticon-list"></i>
                <h3 class="wizard-title">2. حساب بانکی</h3>
            </div>
            <span class="svg-icon svg-icon-xl wizard-arrow">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </a>
        <!--end::ویزارد گام 2 Nav-->
        <!--begin::ویزارد گام 3 Nav-->
        <a href="/wizard/taxCode" class="wizard-step" data-wizard-type="step" data-wizard-state="@(currentPageIndex == statuses["taxcode"] ? "current" : currentPageIndex > statuses["taxcode"] ? "done" : "pending")">
            <div class="wizard-label">
                <i class="wizard-icon flaticon-responsive"></i>
                <h3 class="wizard-title">3. کد مالیاتی</h3>
            </div>
            <span class="svg-icon svg-icon-xl wizard-arrow">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </a>
        <!--end::ویزارد گام 3 Nav-->
        <!--begin::ویزارد گام 4 Nav-->
        <a href="/wizard/commertialGateWay" class="wizard-step" data-wizard-type="step" data-wizard-state="@(currentPageIndex == statuses["commertialgateway"] ? "current" : currentPageIndex > statuses["commertialgateway"] ? "done" : "pending")">
            <div class="wizard-label">
                <i class="wizard-icon flaticon-truck"></i>
                <h3 class="wizard-title">4. درگاه تجاری</h3>
            </div>
            @*<span class="svg-icon svg-icon-xl wizard-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"></rect>
                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                        </g>
                    </svg>
                </span>*@
        </a>
        <!--end::ویزارد گام 4 Nav-->
        <div class="mx-10">&nbsp;</div>
        <a href="/" class="wizard-step ml-10">
            <div class="wizard-label">
                <i class="wizard-icon fas fa-tachometer-alt"></i>
                <h3 class="wizard-title">داشبورد</h3>
            </div>
        </a>
    </div>
</div>
<!--end::ویزارد Nav-->