<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css?1.0.0.1" />
</head>
<body>
    <div class="container mt-5">
        @RenderBody()
    </div>

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <form class="modal-content" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">خلاصه سفارش</h5>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>قیمت واحد</th>
                                <th width="85">تعداد</th>
                                <th>قیمت</th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">پرداخت</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">انصراف</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script>
        var crudeRow =
            `
            <tr class='product-row'>
                <td class='title'>{title}</td>
                <td class='unit-price'>{unit-price}</td>
                <td><input type="number" class="form-control" value="1" min="1" /></td>
                <td class='total-price'>{total-price}</td>
                <td>
                    <input name='products' hidden value='{value}' />
                    <button type="button" class="btn close text-danger delete-row">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            `

        $(document).ready(function () {

            $("input[type=checkbox]").change(function () {
                var amount = 0;
                $("input[type=checkbox]").each(function () {
                    if ($(this).is(":checked")) {
                        var value = $(this).val();

                        value = value.split('-')[0];

                        amount += parseInt(value);
                    }
                });
                if (amount > 0)
                    $(".products-form").find("button").prop("disabled", false).text("پرداخت (" + amount + ")");
                else
                    $(".products-form").find("button").prop("disabled", true).text("پرداخت");
            });

            $(".products-form").submit(function () {

                var html = "", count = 0, amount = 0;

                $("input[type=checkbox]").each(function () {
                    if ($(this).is(":checked")) {
                        var value = $(this).val();

                        html += crudeRow
                            .replace("{value}", value.split("-")[0] + "-1-" + value.split("-")[1])
                            .replace("{title}", value.split("-")[1])
                            .replace("{unit-price}", value.split("-")[0])
                            .replace("{total-price}", value.split("-")[0]);

                        amount += parseInt(value.split("-")[0]);
                        count++;
                    }
                });

                html +=
                    `
                    <tr>
                        <td colspan="2">مجموع</td>
                        <td><span dir="ltr" class='total-count'>` + count + `(` + count + `)</span></td>
                        <td class='total-amount'>` + amount + `</td>
                        <td></td>
                    </tr>
                    `

                $(".modal").modal("show").find("tbody").html(html);

                $(".delete-row").click(function () {
                    $(this).parents("tr:eq(0)").remove();
                    updatePrice();
                });

                $("input[type=number]").bind("change input", function () {
                    var crudeAmount = parseInt($(this).parents("tr:eq(0)").find(".unit-price").text());

                    if (!crudeAmount)
                        return false;

                    var count = parseInt($(this).val());

                    if (!count)
                        count = 1;

                    var amount = crudeAmount * count;

                    if (amount) {
                        $(this).parents("tr:eq(0)").find(".total-price").text(amount);
                        var title = $(this).parents("tr:eq(0)").find(".title").text();
                        $(this).parents("tr:eq(0)").find("input[name=products]").val(amount + "-" + count + "-" + title);
                    }

                    updatePrice();
                });

                return false;
            });

            function updatePrice() {
                var productsCount = 0, totalCount = 0, totalAmount = 0;

                $(".product-row").each(function () {
                    var unitPrice = parseInt($(this).find(".unit-price").text());
                    var count = parseInt($(this).find("input[type=number]").val());
                    if (!count)
                        count = 1;

                    productsCount++;
                    totalCount += count;
                    totalAmount += unitPrice * count;
                });

                if (productsCount == 0)
                    $(".modal").modal("hide");

                if (totalCount && productsCount)
                    $(".total-count").text(totalCount + "(" + productsCount + ")");
                if (totalAmount)
                    $(".total-amount").text(totalAmount);
            }
        });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
