@inject Tipoul.Framework.DataAccessLayer.TipoulFrameworkDbContext dbContext

<select class="selectpicker w-100" name="UserId" required data-live-search="true">
	<option value="">انتخاب کنید</option>
	@foreach (var item in await dbContext.Users.Where(f => f.Type == Tipoul.Framework.StorageModels.User.UserType.UserPanel).ToListAsync())
	{
		<option value="@item.Id" selected="@(Model == item.Id.ToString())">@item.FirstName @item.LastName</option>
	}
</select>