@model LoginFormViewModel

<!--begin::Login Sign in form-->
<div class="login-signin">
    <div class="mb-20">
        <h3>ورود به تیپول</h3>
        <p class="opacity-60 font-weight-bold">جهت ورود و یا ثبت نام در تیپول، شماره موبایل خود را وارد نمایید</p>
    </div>
    <form id="resultForm" action="@Model.RedirectUrl" method="post" enctype="multipart/form-data">
        <input type="hidden" id="token" name="token" />
    </form>
    <form class="form" action="/" id="kt_login_signin_form" method="post">
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" placeholder="شماره موبایل" id="UserName" name="UserName" autocomplete="on" required />
        </div>
        <div class="form-group" style="display: none;">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" id="SecondInput" />
            <span class="text-danger" style="display: none;" id="invelidVerificationCode">کد احراز هویت اشتباه است</span>
        </div>
        @*<div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
            <div class="checkbox-inline">
                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                    <input type="checkbox" name="remember" />
                    <span></span>
                    مرا به خاطر بسپار
                </label>
            </div>
            <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">کلمه عبور را فراموش کرده اید؟</a>
        </div>*@
        <div class="form-group text-center mt-10">
            <button type="submit" id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">ورود</button>
        </div>
    </form>
    @*<div class="mt-10">
        <span class="opacity-70 mr-4">
            حساب کاربری ندارید؟
        </span>
        <a href="javascript:;" id="kt_login_signup" class="text-white font-weight-bold">ثبت نام</a>
    </div>*@
</div>
<!--end::Login Sign in form-->