@model LoginViewModel

<!--begin::Login-->
<div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
    <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(/img/bg-1.jpg);">
        <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
            <!--begin::Login Header-->
            <div class="d-flex flex-center mb-15">
                <a href="#">
                    <img src="~/img/logo-letter-9.png" class="max-h-100px" alt="" />
                </a>
            </div>
            <!--end::Login Header-->
           
            @await Html.PartialAsync("_LoginForm", new LoginFormViewModel(Model.RedirectUrl))
            
            @await Html.PartialAsync("_RegisterForm")

            @await Html.PartialAsync("_ForgotPasswordForm")

        </div>
    </div>
</div>
<!--end::Login-->