@{
    ViewData["Title"] = "Iranzamin shop";
}

<form method="post" class="products-form">
    <div class="row">
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/جوراب.jpeg" title="جوراب" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">جوراب</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">70 - 30 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="35-جوراب مچی" class="form-check-input" id="check1-1">
                    <label class="form-check-label" for="check1-1">جوراب مچی - 35</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="40-جوراب نیم ساق" class="form-check-input" id="check1-2">
                    <label class="form-check-label" for="check1-2">جوراب نیم ساق - 40</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="50-جوراب زیر زانو" class="form-check-input" id="check1-3">
                    <label class="form-check-label" for="check1-3">جوراب زیر زانو - 50</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="70-جوراب بالا زانو" class="form-check-input" id="check1-4">
                    <label class="form-check-label" for="check1-4">جوراب بالا زانو - 70</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="40-فیشنت دست" class="form-check-input" id="check1-5">
                    <label class="form-check-label" for="check1-5">فیشنت دست - 40</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="70-فیشنت جوراب شلواری" class="form-check-input" id="check1-6">
                    <label class="form-check-label" for="check1-6">فیشنت جوراب شلواری - 70</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/کوله-پشتی.jpeg" title="کوله پشتی" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">کوله پشتی</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">258-398 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="258-کوله آلستار و ونس ساده" class="form-check-input" id="check2-1">
                    <label class="form-check-label" for="check2-1">کوله آلستار و ونس ساده - 258</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="288-کوله آلستار و ونس طرح دار" class="form-check-input" id="check2-2">
                    <label class="form-check-label" for="check2-2">کوله آلستار و ونس طرح دار - 288</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="338-کوله آلستار و ونس فوم ساده" class="form-check-input" id="check2-3">
                    <label class="form-check-label" for="check2-3">کوله آلستار و ونس فوم ساده - 338</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="398-کوله آلستار و ونس فوم طرح دار" class="form-check-input" id="check2-4">
                    <label class="form-check-label" for="check2-4">کوله آلستار و ونس فوم طرح دار - 398</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="338-کوله نایک" class="form-check-input" id="check2-5">
                    <label class="form-check-label" for="check2-5">کوله نایک - 338</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/کیف-دوشی.jpeg" title="کیف دوشی" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">کیف دوشی</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">158-258 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="158-کیف دوشی آلستار ساده" class="form-check-input" id="check3-1">
                    <label class="form-check-label" for="check3-1">کیف دوشی آلستار ساده - 158</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="168-کیف دوشی آلستار طرح دار" class="form-check-input" id="check3-2">
                    <label class="form-check-label" for="check3-2">کیف دوشی آلستار طرح دار - 168</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="178-کیف مسنجر ونس ساده" class="form-check-input" id="check3-3">
                    <label class="form-check-label" for="check3-3">کیف مسنجر ونس ساده - 178</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="188-کیف مسنجر ونس طرح دار" class="form-check-input" id="check3-4">
                    <label class="form-check-label" for="check3-4">کیف مسنجر ونس طرح دار - 188</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="248-کیف مسنجر ونس فوم ساده" class="form-check-input" id="check3-5">
                    <label class="form-check-label" for="check3-5">کیف مسنجر ونس فوم ساده - 248</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="258-کیف مسنجر ونس فوم طرح دار" class="form-check-input" id="check3-6">
                    <label class="form-check-label" for="check3-6">کیف مسنجر ونس فوم طرح دار -258</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/کفش-all-star.jpeg" title="All Star" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">آل استار</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">228-288 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="228-آلستار ساق کوتاه ساده" class="form-check-input" id="check4-1">
                    <label class="form-check-label" for="check4-1">آلستار ساق کوتاه ساده - 228</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="248-آلستار ساق کوتاه طرح دار" class="form-check-input" id="check4-2">
                    <label class="form-check-label" for="check4-2">آلستار ساق کوتاه طرح دار - 248</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="258-آلستار ساق بلند ساده" class="form-check-input" id="check4-3">
                    <label class="form-check-label" for="check4-3">آلستار ساق بلند ساده - 258</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="288-آلستار ساق بلند طرح دار + چرم" class="form-check-input" id="check4-4">
                    <label class="form-check-label" for="check4-4">آلستار ساق بلند طرح دار + چرم - 288</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/کفش-nike.jpeg" title="Nike" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">نایک</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">348-498 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="418-نایک ایرفورس کوتاه ساده (سایز 37 تا 40)" class="form-check-input" id="check5-1">
                    <label class="form-check-label" for="check5-1">نایک ایرفورس کوتاه ساده (سایز 37 تا 40) -418</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="468-نایک ایرفورس کوتاه ساده (سایز 41 تا 44)" class="form-check-input" id="check5-2">
                    <label class="form-check-label" for="check5-2">نایک ایرفورس کوتاه ساده (سایز 41 تا 44) - 468</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="458-نایک ایرفورس ساق دار ساده (سایز 37 تا 40)" class="form-check-input" id="check5-3">
                    <label class="form-check-label" for="check5-3">نایک ایرفورس ساق دار ساده (سایز 37 تا 40) - 458</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="498-نایک ایرفورس ساق دار ساده (سایز 41 تا 44)" class="form-check-input" id="check5-4">
                    <label class="form-check-label" for="check5-4">نایک ایرفورس ساق دار ساده (سایز 41 تا 44) - 498</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="348-نایک ساق دار جردن (سایز 37 تا 44)" class="form-check-input" id="check5-5">
                    <label class="form-check-label" for="check5-5">نایک ساق دار جردن (سایز 37 تا 44) - 348 </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="image-container">
                    <img src="~/img/کفش-ونس.jpeg" title="ونس" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-right">ونس</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">258-428 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 pr-3 py-3" style="height: 188px; overflow: auto;">
                <div class="form-check">
                    <input type="checkbox" name="products" value="258-ونس کلاسیک" class="form-check-input" id="check6-1">
                    <label class="form-check-label" for="check6-1">ونس کلاسیک - 258</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="288-ونس اولداسکول کوتاه ساده" class="form-check-input" id="check6-2">
                    <label class="form-check-label" for="check6-2">ونس اولداسکول کوتاه ساده - 288</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="318-ونس اولداسکول کوتاه طرح دار" class="form-check-input" id="check6-3">
                    <label class="form-check-label" for="check6-3">ونس اولداسکول کوتاه طرح دار - 318</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="318-ونس اولداسکول ساق دار ساده" class="form-check-input" id="check6-4">
                    <label class="form-check-label" for="check6-4">ونس اولداسکول ساق دار ساده - 318</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="338-ونس اولداسکول ساق دار طرح دار" class="form-check-input" id="check6-5">
                    <label class="form-check-label" for="check6-5">ونس اولداسکول ساق دار طرح دار - 338</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="338-ونس اولداسکول کوتاه فوم طرح دار" class="form-check-input" id="check6-6">
                    <label class="form-check-label" for="check6-6">ونس اولداسکول کوتاه فوم طرح دار - 338</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="378-ونس اولداسکول ساق دار فوم طرح دار" class="form-check-input" id="check6-7">
                    <label class="form-check-label" for="check6-7">ونس اولداسکول ساق دار فوم طرح دار - 378</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="388-ونس اولداسکول کوتاه اسنوپی" class="form-check-input" id="check6-8">
                    <label class="form-check-label" for="check6-8">ونس اولداسکول کوتاه اسنوپی - 388</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="products" value="428-ونس اولداسکول ساق دار اسنوپی" class="form-check-input" id="check6-9">
                    <label class="form-check-label" for="check6-9">ونس اولداسکول ساق دار اسنوپی - 428</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-4"></div>
        <div class="col-md-4 mb-5">
            <button class="btn btn-success w-100 mt-5" type="submit" disabled>پرداخت</button>
        </div>
    </div>
</form>
<section class="shop-desc"><h2 class="block-title">نکات</h2><ul class="payment-notice"><li><span>به مبلغ فوق کارمزد انتقال وجه مطابق کارمزد کارت به کارت اضافه می‌شود.</span></li><li><span>هزینه ارسال رایگان میباشد</span></li></ul></section>